<div id="container">
  <app-screen id="screen" n="1" policy="nFinger" hideoverlay="false"></app-screen>
  <div id="overlay-bottem">
    <span id="buttonToggleSettings">
      <svg fill="#FFFFFF" width="64px" height="64px" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
        <g>
          <path d="M0 3.7L11 3.7 11 2.3 0 2.3 0 3.7zM13 0C12.4477153 0 12 .44771525 12 1L12 5C12 5.55228475 12.4477153 6 13 6 13.5522847 6 14 5.55228475 14 5L14 1C14 .44771525 13.5522847 0 13 0zM7 8.3L7 7C7 6.44771525 6.55228475 6 6 6 5.44771525 6 5 6.44771525 5 7L5 11C5 11.5522847 5.44771525 12 6 12 6.55228475 12 7 11.5522847 7 11L7 9.7 14 9.7 14 8.3 7 8.3zM0 9.7L4 9.7 4 8.3 0 8.3 0 9.7z" transform="translate(1 2)"/>
        </g>
      </svg>
    </span>

    <span id="buttonToggleFullscreen">
      <svg id="iconFullscreenOn" width="64px" height="64px" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M10 15H15V10H13.2V13.2H10V15ZM6 15V13.2H2.8V10H1V15H6ZM10 2.8H12.375H13.2V6H15V1H10V2.8ZM6 1V2.8H2.8V6H1V1H6Z" fill="#FFFFFF"/>
      </svg>
      <svg id="iconFullscreenOff" class="hide" width="64px" height="64px" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 6L6 6L6 1L4.2 1L4.2 4.2L1 4.2L1 6Z" fill="#FFFFFF"/>
        <path d="M15 10L10 10L10 15L11.8 15L11.8 11.8L15 11.8L15 10Z" fill="#FFFFFF"/>
        <path d="M6 15L6 10L1 10L1 11.8L4.2 11.8L4.2 15L6 15Z" fill="#FFFFFF"/>
        <path d="M10 1L10 6L15 6L15 4.2L11.8 4.2L11.8 1L10 1Z" fill="#FFFFFF"/>
      </svg>
    </span>
  </div>
  <div id="settings" class="hide">
    <p class="title">Settings</p>
    <p></p>
    <p>How many fingers do you want to select?</p>
    <span>
    <button id="buttonN1" class="selected">1</button>
    <button id="buttonN2">2</button>
    <button id="buttonN3">3</button>
    <button id="buttonN4">4</button>
    <button id="buttonN5">5</button>
    </span>
  </div>
</div>
<script>
  import { Screen } from './screen';
  customElements.define('app-screen', Screen);
  const screen = document.getElementById("screen");
  const bToggleFullscreen = document.getElementById("buttonToggleFullscreen");
  const iFullscreenOff = document.getElementById("iconFullscreenOff");
  const iFullscreenOn = document.getElementById("iconFullscreenOn");
  bToggleFullscreen.addEventListener("click", toggleFullscreen);
  const bToggleSettings = document.getElementById("buttonToggleSettings");
  bToggleSettings.addEventListener("click", toggleSettings);
  const overlaySettings = document.getElementById("settings");

  function toggleSettings(){
    if(overlaySettings.classList.contains('hide')){
      overlaySettings.classList.remove("hide");
      return;
    }
    overlaySettings.classList.add("hide");
  }


  const overlayBottem = document.getElementById("overlay-bottem"); 
  const overlays = [overlayBottem];

  const b1 = document.getElementById("buttonN1");
  const b2 = document.getElementById("buttonN2");
  const b3 = document.getElementById("buttonN3");
  const b4 = document.getElementById("buttonN4");
  const b5 = document.getElementById("buttonN5");
  const bNums = [b1, b2, b3, b4, b5];
  bNums.forEach((b, i) => {
    b.addEventListener("click", () => {
      setN(i+1);
    });
  });

  function toggleFullscreen(e) {
    if (document.fullscreenElement) {
      document.exitFullscreen();
      iFullscreenOn.classList.remove("hide");
      iFullscreenOff.classList.add("hide");
      return;
    }
    document.documentElement.requestFullscreen()
      .catch(err => alert(`Error attempting to enable fullscreen: ${err.message} (${err.name})`));
    iFullscreenOn.classList.add("hide");
    iFullscreenOff.classList.remove("hide");
  }

  function setN(n) {
    const toSetID = "buttonN" + n.toString();
    bNums.forEach((b, i) => {
      if (b.id === toSetID){
        b.classList.add("selected");
        return;
      };
      b.classList.remove("selected");
    });
    screen.setAttribute("n", n.toString());
  }

  function setPolicyNFingers() {
    bNFingersPolicy.classList.add("selected");
    bMakeGroupsPolicy.classList.remove("selected");
    screen.setAttribute("policy", "nFingers");
  }

  function setPolicyMakeGroups() {
    bNFingersPolicy.classList.remove("selected"); 
    bMakeGroupsPolicy.classList.add("selected");
    screen.setAttribute("policy", "makeGroups");
  }

  function hideControls() {
    overlays.forEach((o, i) => o.classList.add("hide"));
  }

  function showControls() {
    overlays.forEach((o, i) => o.classList.remove("hide"));
  }

  /*
  The attribute "hideoverlay" in the HTML-tag <app-screen> will tell is if we need to hide the overlay.
   */
  const mutationCallback = (mutationsList, observer) => {
    for (const mutation of mutationsList) {
      if (mutation.type !== "attributes" || mutation.attributeName !== "hideoverlay") {
        continue;
      }
      const hideOverlay = screen.getAttribute(mutation.attributeName);
      if(hideOverlay === "true"){
        hideControls();
      }
      if(hideOverlay === "false"){
        showControls();
      }
    }
  };
  const observer = new MutationObserver(mutationCallback);
  observer.observe(screen, {attributes: true});

</script>

<style>
  div#container {
    position:  margin-inline: auto;
  }

  #container app-screen, div#overlay-bottem, div#settings {
    position: absolute;

  }

  div#overlay-bottem {
    margin-inline: 100% 0% 0% 0%;
    width: 160px;
    bottom: 0;
    right: 0;
  }

  div#settings {
    margin-inline: auto;
    width: 80%;
    left: 10%;
    top: 10%;
    height: 80%;
  }

  div#overlay-bottem span {
    margin: 0px 0px 0px 10px;
  }

  svg.hide, div.hide {
    display: none;
  }

  div#settings {
    background-color: black;
    border-color: white;
    border-width: 1px;
    border-style: solid;
  }

  div#settings p {
    margin: auto;
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
  }

  div#settings span {
    margin: auto;
    display: table;
  }

  div#settings button {
    width: 64px;
    height: 64px;
    background-color: black;
    color: white;
    border: none;
    font-size: 40px;
  }

  div#settings button.selected {
    text-decoration: underline;
    font-weight: bold;
  }

  div#settings p.title {
    font-size: 64px;
    text-decoration: underline;
    margin: 0 0 60px 0;
  }
</style>

