<div id="container">
  <app-screen id="screen" n="1" policy="nFinger" hideoverlay="false"></app-screen>
  <div id="overlay-top">
    <button id="buttonN1" class="selected">1</button>
    <button id="buttonN2">2</button>
    <button id="buttonN3">3</button>
    <button id="buttonN4">4</button>
    <button id="buttonN5">5</button>
  </div>
  <div id="overlay-bottem">
    <button id="buttonToggleFullscreen">Fullscreen</button>
  </div>
  <div id="overlay-top-left">
    <button id="buttonSetPolicyNFingers" class="selected">Select fingers</button>
    <button id="buttonSetPolicyMakeGroups">Make groups</button>
  </div>
</div>
<script>
  import { Screen } from './screen';
  customElements.define('app-screen', Screen);
  const screen = document.getElementById("screen");
  const bToggleFullscreen = document.getElementById("buttonToggleFullscreen");
  const bNFingersPolicy = document.getElementById("buttonSetPolicyNFingers");
  const bMakeGroupsPolicy = document.getElementById("buttonSetPolicyMakeGroups");
  bToggleFullscreen.addEventListener("click", toggleFullscreen);
  bNFingersPolicy.addEventListener("click", setPolicyNFingers);
  bMakeGroupsPolicy.addEventListener("click", setPolicyMakeGroups);
  
  const overlayTop =  document.getElementById("overlay-top"); 
  const overlayBottem = document.getElementById("overlay-bottem"); 
  const overlayTopLeft = document.getElementById("overlay-top-left"); 
  const overlays = [overlayTop, overlayBottem, overlayTopLeft];

  const b1 = document.getElementById("buttonN1");
  const b2 = document.getElementById("buttonN2");
  const b3 = document.getElementById("buttonN3");
  const b4 = document.getElementById("buttonN4");
  const b5 = document.getElementById("buttonN5");
  const bNums = [b1, b2, b3, b4, b5];
  bNums.forEach((b, i) => {
    b.addEventListener("click", () => {
      setN(i+1);
    });
  });

  function toggleFullscreen(e) {
    if (document.fullscreenElement) {
      document.exitFullscreen();
      return;
    }
    document.documentElement.requestFullscreen()
      .catch(err => alert(`Error attempting to enable fullscreen: ${err.message} (${err.name})`));
  }

  function setN(n) {
    const toSetID = "buttonN" + n.toString();
    bNums.forEach((b, i) => {
      if (b.id === toSetID){
        b.classList.add("selected");
        return;
      };
      b.classList.remove("selected");
    });
    screen.setAttribute("n", n.toString());
  }

  function setPolicyNFingers() {
    bNFingersPolicy.classList.add("selected");
    bMakeGroupsPolicy.classList.remove("selected");
    screen.setAttribute("policy", "nFingers");
  }

  function setPolicyMakeGroups() {
    bNFingersPolicy.classList.remove("selected"); 
    bMakeGroupsPolicy.classList.add("selected");
    screen.setAttribute("policy", "makeGroups");
  }

  function hideControls() {
    overlays.forEach((o, i) => o.classList.add("hide"));
  }

  function showControls() {
    overlays.forEach((o, i) => o.classList.remove("hide"));
  }

  /*
  The attribute "hideoverlay" in the HTML-tag <app-screen> will tell is if we need to hide the overlay.
  */
  const mutationCallback = (mutationsList, observer) => {
  for (const mutation of mutationsList) {
    if (mutation.type !== "attributes" || mutation.attributeName !== "hideoverlay") {
      continue;
    }
    const hideOverlay = screen.getAttribute(mutation.attributeName);
    if(hideOverlay === "true"){
      hideControls();
    }
    if(hideOverlay === "false"){
      showControls();
    }
  }
  };
  const observer = new MutationObserver(mutationCallback);
  observer.observe(screen, {attributes: true});

</script>

<style>
  #container {
    position:  margin-inline: auto;
  }
  #container app-screen, #overlay-top, #overlay-bottem, #overlay-top-left {
    position: absolute;

  }
  app-screen {
    /*border: 1px solid black;*/
  }
  #overlay-top {
    margin-inline: auto;
    width: 230px;
    /*background-color: light-dark(white, black);*/
    left: 0;
    top: 0;
    /*
    padding: 5px 15px 10px 5px;
    border-radius: 0px 0px 20px 0px;
    */
  }
  #overlay-bottem {
    margin-inline: 100% 0% 0% 0%;
    width: 150px;
    /*background-color: light-dark(white, black);*/
    bottom: 0;
    right: 0;
    /*
    padding: 10px 5px 5px 15px;
    border-radius: 20px 0px 0px 0px;
    */
  }
  #overlay-top button, #overlay-top-left button, #overlay-bottem button {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 30px;
    background-color: transparent;
    /*color: light-dark(black, white);*/
    color: white;
  }
  button.selected {
    font-weight: bold;
  }
  #overlay-top-left {
    margin-inline: 100% 0% 0% 0%;
    width: 375px;
    /*background-color: light-dark(white, black);*/
    top: 0;
    right: 0;
    /*
    padding: 5px 15px 10px 5px;
    border-radius: 0px 0px 0px 20px;
    */
  }

  div.hide {
    display: none;
  }
  

  /*  
  :root {
    color-schema: light dark;
  }
   */
</style>

