<div id="container">
  <app-screen id="screen" n="1" policy="nFinger" hideoverlay="false"></app-screen>
  <div id="overlay-top">
    <button id="buttonN1" class="selected">1</button>
    <button id="buttonN2">2</button>
    <button id="buttonN3">3</button>
    <button id="buttonN4">4</button>
    <button id="buttonN5">5</button>
  </div>
  <div id="overlay-bottem">
    <!--<button id="buttonToggleFullscreen">Fullscreen</button>-->


    <span id="buttonToggleFullscreen">
      <svg id="iconFullscreenOn" width="64px" height="64px" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M10 15H15V10H13.2V13.2H10V15ZM6 15V13.2H2.8V10H1V15H6ZM10 2.8H12.375H13.2V6H15V1H10V2.8ZM6 1V2.8H2.8V6H1V1H6Z" fill="#FFFFFF"/>
      </svg>
      <svg id="iconFullscreenOff" class="hide" width="64px" height="64px" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 6L6 6L6 1L4.2 1L4.2 4.2L1 4.2L1 6Z" fill="#FFFFFF"/>
        <path d="M15 10L10 10L10 15L11.8 15L11.8 11.8L15 11.8L15 10Z" fill="#FFFFFF"/>
        <path d="M6 15L6 10L1 10L1 11.8L4.2 11.8L4.2 15L6 15Z" fill="#FFFFFF"/>
        <path d="M10 1L10 6L15 6L15 4.2L11.8 4.2L11.8 1L10 1Z" fill="#FFFFFF"/>
      </svg>
    </span>
  </div>
  <!-- TODO: the swap is not working yet
    <div id="overlay-top-left">
    <button id="buttonSetPolicyNFingers" class="selected">Select fingers</button>
    <button id="buttonSetPolicyMakeGroups">Make groups</button>
    </div>
  -->
</div>
<script>
  import { Screen } from './screen';
  customElements.define('app-screen', Screen);
  const screen = document.getElementById("screen");
  const bToggleFullscreen = document.getElementById("buttonToggleFullscreen");
  const iFullscreenOff = document.getElementById("iconFullscreenOff");
  const iFullscreenOn = document.getElementById("iconFullscreenOn");

  // TODO: implement policy switching
  //const bNFingersPolicy = document.getElementById("buttonSetPolicyNFingers");
  //const bMakeGroupsPolicy = document.getElementById("buttonSetPolicyMakeGroups");
  bToggleFullscreen.addEventListener("click", toggleFullscreen);
  // TODO: implement policy switching
  //bNFingersPolicy.addEventListener("click", setPolicyNFingers);
  //bMakeGroupsPolicy.addEventListener("click", setPolicyMakeGroups);

  const overlayTop =  document.getElementById("overlay-top"); 
  const overlayBottem = document.getElementById("overlay-bottem"); 
  // TODO: implement policy switching
  //const overlayTopLeft = document.getElementById("overlay-top-left"); 
  const overlays = [overlayTop, overlayBottem/*, overlayTopLeft*/];

  const b1 = document.getElementById("buttonN1");
  const b2 = document.getElementById("buttonN2");
  const b3 = document.getElementById("buttonN3");
  const b4 = document.getElementById("buttonN4");
  const b5 = document.getElementById("buttonN5");
  const bNums = [b1, b2, b3, b4, b5];
  bNums.forEach((b, i) => {
    b.addEventListener("click", () => {
      setN(i+1);
    });
  });

  function toggleFullscreen(e) {
    if (document.fullscreenElement) {
      document.exitFullscreen();
      iFullscreenOn.classList.remove("hide");
      iFullscreenOff.classList.add("hide");
      return;
    }
    document.documentElement.requestFullscreen()
      .catch(err => alert(`Error attempting to enable fullscreen: ${err.message} (${err.name})`));
    iFullscreenOn.classList.add("hide");
    iFullscreenOff.classList.remove("hide");
  }

  function setN(n) {
    const toSetID = "buttonN" + n.toString();
    bNums.forEach((b, i) => {
      if (b.id === toSetID){
        b.classList.add("selected");
        return;
      };
      b.classList.remove("selected");
    });
    screen.setAttribute("n", n.toString());
  }

  function setPolicyNFingers() {
    bNFingersPolicy.classList.add("selected");
    bMakeGroupsPolicy.classList.remove("selected");
    screen.setAttribute("policy", "nFingers");
  }

  function setPolicyMakeGroups() {
    bNFingersPolicy.classList.remove("selected"); 
    bMakeGroupsPolicy.classList.add("selected");
    screen.setAttribute("policy", "makeGroups");
  }

  function hideControls() {
    overlays.forEach((o, i) => o.classList.add("hide"));
  }

  function showControls() {
    overlays.forEach((o, i) => o.classList.remove("hide"));
  }

  /*
  The attribute "hideoverlay" in the HTML-tag <app-screen> will tell is if we need to hide the overlay.
   */
  const mutationCallback = (mutationsList, observer) => {
    for (const mutation of mutationsList) {
      if (mutation.type !== "attributes" || mutation.attributeName !== "hideoverlay") {
        continue;
      }
      const hideOverlay = screen.getAttribute(mutation.attributeName);
      if(hideOverlay === "true"){
        hideControls();
      }
      if(hideOverlay === "false"){
        showControls();
      }
    }
  };
  const observer = new MutationObserver(mutationCallback);
  observer.observe(screen, {attributes: true});

</script>

<style>
  #container {
    position:  margin-inline: auto;
  }
  #container app-screen, #overlay-top, #overlay-bottem, #overlay-top-left {
    position: absolute;

  }
  app-screen {
    /*border: 1px solid black;*/
  }
  #overlay-top {
    margin-inline: auto;
    width: 230px;
    /*background-color: light-dark(white, black);*/
    left: 0;
    top: 0;
    /*
padding: 5px 15px 10px 5px;
border-radius: 0px 0px 20px 0px;
*/
  }
  #overlay-bottem {
    margin-inline: 100% 0% 0% 0%;
    width: 75px;
    /*background-color: light-dark(white, black);*/
    bottom: 0;
    right: 0;
    /*
padding: 10px 5px 5px 15px;
border-radius: 20px 0px 0px 0px;
*/
  }
  #overlay-top button, #overlay-top-left button, #overlay-bottem button {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 30px;
    background-color: transparent;
    /*color: light-dark(black, white);*/
    color: white;
  }
  button.selected {
    font-weight: bold;
  }
  #overlay-top-left {
    margin-inline: 100% 0% 0% 0%;
    width: 375px;
    /*background-color: light-dark(white, black);*/
    top: 0;
    right: 0;
    /*
padding: 5px 15px 10px 5px;
border-radius: 0px 0px 0px 20px;
*/
  }
  svg.hide, div.hide {
    display: none;
  }


  /*  
      :root {
        color-schema: light dark;
      }
   */
</style>

